@using Notes.Client.Menus
@inherits LayoutComponentBase

@inject NavigationManager Navigation

<div class="page">
 
    <div class="sidebar">
        @* <NavMenu /> *@
    </div>
 

    <main>
        <div class="top-row px-4 auth">
            @if (menuVisible)
            { 
                <Notes.Client.Menus.MainMenu/>
            }
            else
            {
                <div class="my-left"><a href="" class="my-home"><b>Home</b></a></div>
            }
        </div>
        @if (!Navigation.Uri.EndsWith("/"))
        {
            <article class="content px-4 my-main-backgound">
                @Body
            </article>
        }
        else
        {
            <article class="content px-4 index-background-class">
                @Body
            </article>
        }
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
