@using System
@using System.Collections.Generic
@using System.IO
@using System.Text
@using System.Threading.Tasks
@using Notes.Client.Comp

@implements IAsyncDisposable
@inject IJSRuntime JS
@inject NotesServer.NotesServerClient Client
@inject CookieStateAgent myState

<div class="dialogs modal-body">
    <p>Please Wait...</p>
</div>

<style>
    .blazored-custom-modal {
        display: flex;
        flex-direction: column;
        z-index: 102;
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
