<div class="dialogs">
    <h3>Please confirm</h3>
    <p>
        @((MarkupString)MessageInput)
    </p>
    <button type="button" @onclick="Cancel" class="btn btn-info btn-sm">No</button>
    <button type="button" @onclick="Ok" class="btn btn-info btn-sm">Yes</button>&nbsp;
</div>


<style>
    .blazored-custom-modal {
        display: flex;
        flex-direction: column;
        z-index: 102;
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

