@page "/editnote/{NoteId:long}"

@using Notes.Client.Comp
@using Notes.Client.Panels

@inject CookieStateAgent myState

@if (go)
{
    <NoteEditor Model="@Model" ></NoteEditor>
}
else
{
    <div>Loading...</div>
}


