@using Notes.Client.Comp
@using Syncfusion.Blazor.Buttons

@inject NavigationManager Navigation
@inject CookieStateAgent myState

@if (myState.IsAuthenticated)
{
    <form action="Account/Logout" method="post">
        <AntiforgeryToken />
        <input type="hidden" name="ReturnUrl" value="" />
        <button type="submit" class="logbutton">
            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
        </button>
    </form>

    <SfButton @onclick="GotoProfile" class="logbutton">@myState.UserInfo?.Displayname</SfButton> 
    <SfButton @onclick="GotoHome" class="homebutton">Home</SfButton>
}
else
{
    <SfButton @onclick="GotoRegister" class="logbutton">Register</SfButton>
    <SfButton @onclick="GotoLogin" class="logbutton">Login</SfButton>
    <SfButton @onclick="GotoHome" class="homebutton">Home</SfButton>
}

<style>
    .logbutton {
        color: white;
        background-color: darkcyan;
        margin-right: 5px;
        margin-left: 5px;
        border-radius: 6px;
    }

        .logbutton:hover {
            color: white;
            background-color: blue;
        }

    .homebutton {
        color: white;
        background-color: darkblue;
        margin-right: 5px;
        margin-left: 5px;
        border-radius: 6px;
    }

        .homebutton:hover {
            color: white;
            background-color: blue;
        }
</style>

