@using Notes.Client.Comp
@using Notes.Protos
@using Syncfusion.Blazor.Navigations
@inject CookieStateAgent myState

<span class="top-row ps-4 navbar my-left">
    <LoginDisplay/>
    <SfMenu Items="@menuItemsTop" @ref="@topMenu" CssClass="e-std-menu">
            <MenuEvents TValue="MenuItem" ItemSelected="@OnSelect" ></MenuEvents>
    </SfMenu>
    @*
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>   
    *@
</span>
<span class="clockcolor"><Notes.Client.Comp.Clock Interval="10000"></Notes.Client.Comp.Clock></span>

<style>
    .my-left {
        position: absolute;
        left: 0;
    }
</style>